nav {
    position: relative;
    background-color: green;
}

h1{
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    gap: 0.5rem;
    border: 2.5px solid black;
}

.enter{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.new-password{
    display: flex;
    margin-top: 1.5rem;
}