body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #2c18c2;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo h1 {
  color: rgb(225, 219, 219);
  padding: 5px;
  margin: 5px;
}

.image-logo {
  width: 50px;
  height: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
}